<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
    <!-- 注:使用支付自身的SOA服务 -->		
	<bean id="soaProperties" class="com.ctfo.upp.soa.SOAProperties">
		<property name="serviceLocations">
			<map>
				<entry key="choosing-policies">
					<list>
						<value>com.ctfo.base:base-service-locations</value>	
					</list>
				</entry>				
				<entry key="base-service-locations">
					<list>					
						<value>${base-service-location-0}</value>
						<value>${base-service-location-1}</value>
					</list>
				</entry>
			</map>
		</property>
	</bean>
</beans>