<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- 数据源定义,使用c3p0 连接池 -->
	<bean id="oracleDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${oracle_driverClassName}" />
		<property name="jdbcUrl" value="${oracle_url}" />
		<property name="user" value="${oracle_user}" />
		<property name="password" value="${oracle_password}" />
		<property name="initialPoolSize" value="${oracle_poolSize}" />
		<property name="minPoolSize" value="1" />
		<property name="maxPoolSize" value="${oracle_maxPoolSize}" />
		<property name="acquireIncrement" value="2" />
		<property name="maxIdleTime" value="${oracle_maxIdleTime}" />
		<property name="idleConnectionTestPeriod" value="180" />
		<!-- <property name="automaticTestTable" value="C3P0TESTTABLE"/> -->
	</bean>

	<bean id="uppOracleSqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>classpath:com/ctfo/upp/accountservice/resources/SqlMapConfig.xml
			</value>
		</property>
		<property name="dataSource" ref="oracleDataSource" />
	</bean>

	<bean id="uppOracleClientTemplate" class="org.springframework.orm.ibatis.SqlMapClientTemplate">
		<property name="sqlMapClient">
			<ref bean="uppOracleSqlMapClient" />
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="oracleDataSource" />
	</bean>

	<!-- 哪些类哪些方法使用事务 -->
	<aop:config proxy-target-class="true">
		<aop:pointcut id="serviceOperation"
			expression="execution(* com.sinoiov.upp.business.account.*.*(..))
						||execution(* com.sinoiov.upp.business.payment.*.*(..))
						||execution(* com.sinoiov.upp.callback.*.*(..))
														" />
		<aop:advisor pointcut-ref="serviceOperation" advice-ref="txAdvice" />
	</aop:config>

	<!-- 事务的传播特性 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="create*" propagation="REQUIRED" rollback-for="Throwable" timeout="600" />
			<tx:method name="add*" propagation="REQUIRED" rollback-for="Throwable" timeout="600" />
			<tx:method name="modify*" propagation="REQUIRED" rollback-for="Throwable" timeout="600" />
			<tx:method name="delete*" propagation="REQUIRED" rollback-for="Throwable" timeout="600" />
			<tx:method name="remove*" propagation="REQUIRED" rollback-for="Throwable" timeout="600" />
			<tx:method name="*Password" propagation="REQUIRED" rollback-for="Throwable" timeout="600" />		
			<tx:method name="*Account" propagation="REQUIRED" rollback-for="Throwable" timeout="600" />
			<tx:method name="net*" propagation="REQUIRED" rollback-for="Throwable" timeout="600" />
			<tx:method name="fast*" propagation="REQUIRED" rollback-for="Throwable" timeout="600" />
			<tx:method name="pay*" propagation="REQUIRED" rollback-for="Throwable" timeout="600" />
			<tx:method name="account*" propagation="REQUIRED" rollback-for="Throwable" timeout="600" />
			<tx:method name="batch*" propagation="REQUIRED" rollback-for="Throwable" timeout="600" />
			<tx:method name="handle*" propagation="REQUIRED" rollback-for="Throwable" timeout="600" />
			<tx:method name="freeze*" propagation="REQUIRED" rollback-for="Throwable" timeout="600" />
			<tx:method name="unFreeze*" propagation="REQUIRED" rollback-for="Throwable" timeout="600" />
			<tx:method name="transfer*" propagation="REQUIRED" rollback-for="Throwable" timeout="600" />
			<tx:method name="withdraw*" propagation="REQUIRED" rollback-for="Throwable" timeout="600" />
			<tx:method name="check*" propagation="REQUIRED" rollback-for="Throwable" timeout="600" />
			<tx:method name="reset*" propagation="REQUIRED" rollback-for="Throwable" timeout="600" />
			
		</tx:attributes>
	</tx:advice>
</beans>