<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.0.xsd "
	default-lazy-init="false">
	
    
    <bean id="soaProperties"
		class="com.ctfo.upp.soa.SOAProperties">

		<property name="serviceLocations">
			<map>
				<entry key="choosing-policies">
					<list>
						<value>com.sinoiov.upp.yeepayfastgateway:fast-gateway-service-locations</value>
						<value>com.sinoiov.upp.yeepaywebgateway:web-gateway-service-locations</value>
						<value>com.sinoiov.upp.callback:callback-interface-locations</value>
						<value>com.ctfo.base:beas-service-locations</value>	
						<value>com.ctfo.notification:notification-service-locations</value>		
						<value>com.ctfo.gateway:gateway-service-locations</value>
						<value>com.ctfo.upp.gateway:gateway-service-locations</value>
					</list>
				</entry>
				<entry key="beas-service-locations">
					<list>					
						<value>${beas-service-location-0}</value>
						<value>${beas-service-location-1}</value>				 
					</list>
				</entry>
				<entry key="gateway-service-locations">
					<list>					
						<value>${gateway-service-location-0}</value>
						<value>${gateway-service-location-1}</value>				 
					</list>
				</entry>
				<entry key="callback-interface-locations">
					<list>					
						<value>${callback-interface-location-0}</value>
						<value>${callback-interface-location-1}</value>				 
					</list>
				</entry>
				<entry key="notification-service-locations">
					<list>					
						<value>${notification-service-location-0}</value>
						<value>${notification-service-location-1}</value>				 
					</list>
				</entry>
				<entry key="fast-gateway-service-locations">
					<list>					
						<value>${fast-gateway-service-location-0}</value>
						<value>${fast-gateway-service-location-1}</value>				 
					</list>
				</entry>
				<entry key="web-gateway-service-locations">
					<list>					
						<value>${web-gateway-service-location-0}</value>
						<value>${web-gateway-service-location-1}</value>				 
					</list>
				</entry>
			</map>

		</property>
	</bean>

    
</beans>